body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  overflow: hidden;
}

.audio-status {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  animation: scroll-text 5s linear infinite;
}

span {
  font-weight: normal;
  font-style: normal;
}

/* Animación de carrusel */
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
