* {
  box-sizing: border-box;
  font-family: Arial;
}
body {
  margin: 0; /* Elimina márgenes predeterminados */
  display: flex;
  flex-direction: column; /* Organiza el contenido en una columna */
  min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
}
header {
  background-color: rgb(0, 255, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}
img#logo {
  padding: 10px;
}
img#logo:hover{
  cursor: pointer;
}
nav li {
  list-style-type: none;
  margin: 10px;
  float: left;
}
a {
  border: solid 2px;
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
}
a:hover {
  background-color: aliceblue;
  cursor: pointer;
}
li:active {
  scale: 0.95;
}
footer {
  height: 100px;
  background-color: gray;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media (max-width: 720px) {
  header{
    flex-direction: column;
  }
}
